<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Molloo.OneUI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.compose.MainCompose"
            android:exported="true"
            android:label="@string/title_maincompose"
            android:theme="@style/Theme.Molloo.Compat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Legacy"
            android:theme="@style/Theme.AppSplash">
        </activity>
        <activity
            android:name=".MollooAppIntro"
            android:label="@string/app_intro_act_title"
            android:theme="@style/Theme.Molloo.Intro" />
        <receiver android:name=".receiver.CareRemindReceiver" android:exported="true" />
    </application>

</manifest>